body{
    background-color: #80D4FF;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/polonez_car.png);
    /* credit: Made by Radosław Rzepecki */
}


p {
    text-indent:30pt;
}


h1, h2{
    text-align: center;
    margin-right: 0px;
    margin-bottom: 40px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 40pt;
    color: darkcyan;
}

.text {
    width: 750px;
    height: auto;
    border: 5px solid skyblue;
    padding: 30px;
    -webkit-box-shadow: 5px 5px 25px 14px rgba(0,0,0,0.77); 
    box-shadow: 5px 5px 25px 14px rgba(0,0,0,0.77);
    background-color: antiquewhite;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: large;
}

.text1 {
    height: 1000px;
	grid-row: 1;
	grid-column: 1;
}
.text2 {
    height: 1000px;
	grid-row: 1;
	grid-column: 2;
}
.text3 {
	grid-row: 2;
	grid-column: 1;
}
.text4 {
	grid-row: 2;
	grid-column: 2;
}

.hw{
    width:90%;
    border: 2px solid cornflowerblue; 
}

.icon{
    display: flex;
    justify-content: space-around;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main {
    margin: 0;
	padding: 50px;
    padding-left: 65px;
	display: grid;
    justify-self: center;
	gap: 3%;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1100px 1fr;
}

@media (max-width: 1300px) {

    #main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 1%;
    }
    
    .text1 {
        grid-row: 1;
        grid-column: 1;
    }
    .text2 {
        grid-row: 2;
        grid-column: 1;
    }
    .text3 {
        grid-row: 3;
        grid-column: 1;
    }
    .text4 {
        grid-row: 4;
        grid-column: 1;
    }
}
