body{
    background-color: #80D4FF
}

p {
    text-indent:30px;
}


h1, h2{
    text-align: center;
    margin-right: 0px;
    margin-bottom: 40px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 35pt;
}

.text {
    margin: 2%;
    width: 40%;
    height: 1000px;
    border: 5px solid green;
    padding: 30px;
    float: left;
    -webkit-box-shadow: 5px 5px 25px 14px rgba(0,0,0,0.77); 
    box-shadow: 5px 5px 25px 14px rgba(0,0,0,0.77);
    background-color: antiquewhite;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: large;
}

.text2 {
    margin: 2%;
    width: 40%;
    height: 1200px;
    border: 5px solid green;
    padding: 30px;
    float: left;
    -webkit-box-shadow: 5px 5px 25px 14px rgba(0,0,0,0.77); 
    box-shadow: 5px 5px 25px 14px rgba(0,0,0,0.77);
    background-color: antiquewhite;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: large;
}

.hw{
    width:90%;
}

.icon{
    margin-left: 41%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main {
    align-items: center;
}
